@model WebAttendance.Models.ViewModels.CreateRoleViewModel

    <h1>  Създай роля  </h1>

    <div asp-validation-summary="All">   </div>
    <div class="row">
        <div class="col-md-3">
            <form method="post" asp-controller="Administration" asp-action="CreateRole">
                <div class="form-group">
                    <label asp-for="Name" > </label>
                    <input asp-for="Name" class="form-control" />
                    <button type="submit" class="btn btn-info">Запис</button>
                    <a asp-action="ListRoles" class="btn btn-primary">Назад</a>
                </div>
            </form>
        </div>
    </div>