@model IEnumerable<WebAttendance.Areas.Identity.Data.ApplicationUserRole>

<h1>Всички роли</h1>

<a class="btn btn-primary" asp-action="CreateRole" asp-controller="Administration">Създай роля</a>
@{
    foreach (var role in Model)
    {
        
        <div class="card mb-3">
            <div class="card-header">
                Role Id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id" class="btn btn-primary">Редактиране</a>
                <form asp-controller="Administration" asp-action="DeleteRole" asp-route-id="@role.Id" method="post" >
                    <button type="submit"  class="btn btn-danger">Изтриване</button>
                </form>

              
            </div>
        </div>
    }
}
