@model IEnumerable<WebAttendance.Models.Degrees>

<h1>   Образователни степени </h1>
    <div class=" container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <div asp-validation-summary="All">   </div>
            </div>
        </div>

        <div class="input-group">
            <div class="col-4 text-right">  <a asp-area="" asp-controller="Degree" asp-action="CreateDegree" class="btn btn-primary">Въвеждане на образователна степен </a></div>
            <div class="form-outline">
                <input type="text" id="searchTextId" class="form-control" />
            </div>
            <button type="button" class="btn btn-primary">
                <i class="fa fa-search"></i>
            </button>
        </div>


        <br />

        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" style="width:100%">

                <thead>
                    <tr>
                        <th>Образователна степен</th>
                        <th>Редакция</th>
                        <th>Изтриване</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var degrees in Model)
                    {
                        <tr class="tableRows">
                            <td width="30%">@degrees.Name</td>
                            <td><a class="btn btn-primary" asp-action="EditDegrees" asp-controller="Degree" asp-route-DegreesId="@degrees.Id" role="button">Редакция</a></td>
                            <td><button class="btn btn-danger deleteDegree" onclick="confirmAction()" value="@degrees.Id" role="button">Изтриване</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p> Няма създадени записи </p>
        }
    </div>

    <div id="deleteMessageModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Server Message</h4>
                </div>
                <div class="modal-body">
                    <p id="message"> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    @section Scripts {

        <script>

            function confirmAction() {
            }

            $(document).ready(function () {
                $(".deleteDegree").on("click", function (e) {

                    e.preventDefault();

                    let confirmAction = confirm("Потвърджавате ли изтриването?");
                    if (!confirmAction) {
                        alert("Изтриването отменено");
                        return
                    }
                    alert("Действието е извършено успешно");

                    var degreeId = $(this).val();

                    $.ajax({

                        type: 'POST',
                        url: '/Degree/DeleteDegree',
                        data: { DegreesId: degreeId },
                        success: function (data) {
                            $("#message").html(data);
                            $("#deleteMessageModal").modal("show");
                        }

                    });

                });

                $("#deleteMessageModal").on("hidden.bs.modal", function () {
                    location.reload();
                });

                $("#searchTextId").on("keyup", function () {
                    var searchTextId = $(this).val();
                    if (searchTextId != undefined && searchTextId != "") {
                        console.log(searchTextId);
                        $(".tableRows").hide();
                        $("td:contains(" + searchTextId + ")").parent().show();

                    }
                    else {
                        $(".tableRows").show();
                    }
                });
            });
        </script>
    }
